<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<!-- Khai Bao Error Page -->


	<!-- Kết Thúc Khai Bao Error Page -->

	<!-- Khai Bao Filter -->

	<filter>
		<filter-name>SecurityFilterAdmin</filter-name>
		<display-name>SecurityFilterAdmin</display-name>
		<description></description>
		<filter-class>filter.SecurityFilterAdmin</filter-class>
	</filter>
	<filter>
		<filter-name>SecurityFilterCustomer</filter-name>
		<display-name>SecurityFilterCustomer</display-name>
		<description></description>
		<filter-class>filter.SecurityFilterCustomer</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/dashBoard.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/dashBoard2.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/hoaDonAdmin.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/khachHangAdmin.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/nguoiDungLaAdminAdmin.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/sanPhamAdmin.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/themAdmin.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/themChuongTrinhGiamGia.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/themDanhMuc.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/themDanhMucCha.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/themSanPhamAdmin.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/top5KhachHangAdmin.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/top5SanPhamBanChayAdmin.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/lienHeAdmin.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/phanHoiAdmin.jsp</url-pattern>
	</filter-mapping>
		<filter-mapping>
		<filter-name>SecurityFilterAdmin</filter-name>
		<url-pattern>/danhMucLonAdmin.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterCustomer</filter-name>
		<url-pattern>/SecurityFilterCustomer</url-pattern>
	</filter-mapping>

	<!-- Customer -->
	<filter-mapping>
		<filter-name>SecurityFilterCustomer</filter-name>
		<url-pattern>/gioHang.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterCustomer</filter-name>
		<url-pattern>/thayDoiMatKhau.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterCustomer</filter-name>
		<url-pattern>/thayDoiMatKhauThanhCong.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterCustomer</filter-name>
		<url-pattern>/thayDoiThongTinKhachHang.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterCustomer</filter-name>
		<url-pattern>/thayDoiThongTinKhachHangThanhCong.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterCustomer</filter-name>
		<url-pattern>/lichSuMuaHang.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterCustomer</filter-name>
		<url-pattern>/dangNhap.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterCustomer</filter-name>
		<url-pattern>/xacNhanDatHang.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilterCustomer</filter-name>
		<url-pattern>/trangThaiDonHang.jsp</url-pattern>
	</filter-mapping>

	<!-- Ket Thuc Khai Bao Filter -->



	<servlet>
		<servlet-name>DangKiTaiKhoan</servlet-name>
		<display-name>DangKiTaiKhoan</display-name>
		<description></description>
		<servlet-class>controller.DangKiTaiKhoan</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DangNhap</servlet-name>
		<display-name>DangNhap</display-name>
		<description></description>
		<servlet-class>controller.DangNhap</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DangXuatTaiKhoan</servlet-name>
		<display-name>DangXuatTaiKhoan</display-name>
		<description></description>
		<servlet-class>controller.DangXuatTaiKhoan</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ThemDanhMucCha</servlet-name>
		<display-name>ThemDanhMucCha</display-name>
		<description></description>
		<servlet-class>controller.ThemDanhMucCha</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ThemDanhMuc</servlet-name>
		<display-name>ThemDanhMuc</display-name>
		<description></description>
		<servlet-class>controller.ThemDanhMuc</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ThemSanPham</servlet-name>
		<display-name>ThemSanPham</display-name>
		<description></description>
		<servlet-class>controller.ThemSanPham</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ThemCTGiamGia</servlet-name>
		<display-name>ThemCTGiamGia</display-name>
		<description></description>
		<servlet-class>controller.ThemCTGiamGia</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ThemGiamGiaSP</servlet-name>
		<display-name>ThemGiamGiaSP</display-name>
		<description></description>
		<servlet-class>controller.ThemGiamGiaSP</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ChinhSuaSanPham</servlet-name>
		<display-name>ChinhSuaSanPham</display-name>
		<description></description>
		<servlet-class>controller.ChinhSuaSanPham</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GioHang</servlet-name>
		<display-name>GioHang</display-name>
		<description></description>
		<servlet-class>controller.GioHang</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ThemVaoGioHang</servlet-name>
		<display-name>ThemVaoGioHang</display-name>
		<description></description>
		<servlet-class>controller.ThemVaoGioHang</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MinusSanPham</servlet-name>
		<display-name>MinusSanPham</display-name>
		<description></description>
		<servlet-class>controller.MinusSanPham</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PlusSanPham</servlet-name>
		<display-name>PlusSanPham</display-name>
		<description></description>
		<servlet-class>controller.PlusSanPham</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoLocSanPham</servlet-name>
		<display-name>BoLocSanPham</display-name>
		<description></description>
		<servlet-class>controller.BoLocSanPham</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChiTietSanPham</servlet-name>
		<display-name>ChiTietSanPham</display-name>
		<description></description>
		<servlet-class>controller.ChiTietSanPham</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XacNhanDatHang</servlet-name>
		<display-name>XacNhanDatHang</display-name>
		<description></description>
		<servlet-class>controller.XacNhanDatHang</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QuenMatKhau</servlet-name>
		<display-name>QuenMatKhau</display-name>
		<description></description>
		<servlet-class>controller.QuenMatKhau</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LichSuMuaHang</servlet-name>
		<display-name>LichSuMuaHang</display-name>
		<description></description>
		<servlet-class>controller.LichSuMuaHang</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ThayDoiMatKhau</servlet-name>
		<display-name>ThayDoiMatKhau</display-name>
		<description></description>
		<servlet-class>controller.ThayDoiMatKhau</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ThayDoiThongTinKhachHang</servlet-name>
		<display-name>ThayDoiThongTinKhachHang</display-name>
		<description></description>
		<servlet-class>controller.ThayDoiThongTinKhachHang</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartDataServlet</servlet-name>
		<display-name>ChartDataServlet</display-name>
		<description></description>
		<servlet-class>controller.BieuDoDoanhThu7Ngay</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BieuDoDoanhThuNam</servlet-name>
		<display-name>BieuDoDoanhThuNam</display-name>
		<description></description>
		<servlet-class>controller.BieuDoDoanhThuNam</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HoaDonAdmin</servlet-name>
		<display-name>HoaDonAdmin</display-name>
		<description></description>
		<servlet-class>controller.HoaDonAdmin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChiTietHoaDonAdmin</servlet-name>
		<display-name>ChiTietHoaDonAdmin</display-name>
		<description></description>
		<servlet-class>controller.ChiTietHoaDonAdmin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DangKiTaiKhoanAdmin</servlet-name>
		<display-name>DangKiTaiKhoanAdmin</display-name>
		<description></description>
		<servlet-class>controller.DangKiTaiKhoanAdmin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChinhSuaRole</servlet-name>
		<display-name>ChinhSuaRole</display-name>
		<description></description>
		<servlet-class>controller.ChinhSuaRole</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>XoaSanPhamAdmin</servlet-name>
		<display-name>XoaSanPhamAdmin</display-name>
		<description></description>
		<servlet-class>controller.XoaSanPhamAdmin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LienHe</servlet-name>
		<display-name>LienHe</display-name>
		<description></description>
		<servlet-class>controller.LienHe</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KiemTraSessionKhachHang</servlet-name>
		<display-name>KiemTraSessionKhachHang</display-name>
		<description></description>
		<servlet-class>controller.KiemTraSessionKhachHang</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrangThaiDonHang</servlet-name>
		<display-name>TrangThaiDonHang</display-name>
		<description></description>
		<servlet-class>controller.TrangThaiDonHang</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DangKiTaiKhoan</servlet-name>
		<url-pattern>/DangKiTaiKhoan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DangNhap</servlet-name>
		<url-pattern>/DangNhap</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DangXuatTaiKhoan</servlet-name>
		<url-pattern>/dangxuat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThemDanhMucCha</servlet-name>
		<url-pattern>/themdanhmuccha</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThemDanhMuc</servlet-name>
		<url-pattern>/themdanhmuc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThemSanPham</servlet-name>
		<url-pattern>/ThemSanPham</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThemCTGiamGia</servlet-name>
		<url-pattern>/themctgiamgia</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThemGiamGiaSP</servlet-name>
		<url-pattern>/themgiamgiasp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ChinhSuaSanPham</servlet-name>
		<url-pattern>/chinhsuasanpham</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GioHang</servlet-name>
		<url-pattern>/GioHang</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThemVaoGioHang</servlet-name>
		<url-pattern>/themvaogiohang</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MinusSanPham</servlet-name>
		<url-pattern>/MinusSanPham</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlusSanPham</servlet-name>
		<url-pattern>/PlusSanPham</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoLocSanPham</servlet-name>
		<url-pattern>/bolocsanpham</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChiTietSanPham</servlet-name>
		<url-pattern>/chitietsanpham</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XacNhanDatHang</servlet-name>
		<url-pattern>/xacnhandathang</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuenMatKhau</servlet-name>
		<url-pattern>/quenmatkhau</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LichSuMuaHang</servlet-name>
		<url-pattern>/lichsumuahang</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThayDoiMatKhau</servlet-name>
		<url-pattern>/thaydoimatkhau</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThayDoiThongTinKhachHang</servlet-name>
		<url-pattern>/thaydoithongtinkhachhang</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartDataServlet</servlet-name>
		<url-pattern>/chartData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BieuDoDoanhThuNam</servlet-name>
		<url-pattern>/chartDataYears</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HoaDonAdmin</servlet-name>
		<url-pattern>/hoadonadmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChiTietHoaDonAdmin</servlet-name>
		<url-pattern>/chitiethoadonadmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DangKiTaiKhoanAdmin</servlet-name>
		<url-pattern>/dangkitaikhoanadmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChinhSuaRole</servlet-name>
		<url-pattern>/chinhsuarole</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>XoaSanPhamAdmin</servlet-name>
		<url-pattern>/xoasanpham</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LienHe</servlet-name>
		<url-pattern>/lienhe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KiemTraSessionKhachHang</servlet-name>
		<url-pattern>/kiemtraSessionKhachHang</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrangThaiDonHang</servlet-name>
		<url-pattern>/trangThaiDonHang</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>trangChu.jsp</welcome-file>

	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>



</web-app>
